{% extends 'base.html' %}
{% comment %} {% block title %}Home{% endblock title %} {% endcomment %}
{% block content %}
   


<div class="row d-flex justify-content-center mt-5">
    <div class="col-sm-6">
        <div class="alert-info">
            <h1>Bronx Charter School for Children</h1>
        </div>
        <p class="justify">Student friendly content management system  enables organizations like Sci High to keep their website constantly updated with drag-and-drop editing tools. Schools can easily add new content and adjust the layout on the front end of their website without any coding knowledge..</p>
    </div>
</div>

{% comment %} {% else %}
no user found
{% endif %} {% endcomment %}
</form> 



{% endblock content %}
