{% extends 'base.html' %}
{% load static %}
{% comment %} {% block title %}Home{% endblock title %} {% endcomment %}
{% block content %}
   
{% comment %} 
<img src="{% static 'images/1.jpg' %}" width="100%" height="700px"  alt="about-image">
<div class="row d-flex justify-content-center  mt-3">
    <div class="col-sm-6 shadow">
     <div class="alert alert-info">
            <h1>Bronx Charter School for Children</h1>
        </div>
        <p  >Student friendly content management system  enables organizations like Sci High to keep their website constantly updated with drag-and-drop editing tools. Schools can easily add new content and adjust the layout on the front end of their website without any coding knowledge..</p>
    </div>
</div> {% endcomment %}

<div class="container mt-5">
    <div class="row  ">
        <div class="col-lg-7">
            <img src="{% static 'images/1.jpg' %}" width="100%" height="400px"  alt="about-image">
        </div>
        <div class="col-lg-4 offset-1 p-2  text-justify shadow">
            <div class="alert alert-info">
                <h3>Bronx Charter School for Children</h3>
            </div>
            <p  >Student friendly content management system  enables organizations like Sci High to keep their website constantly updated with drag-and-drop editing tools. Schools can easily add new content and adjust the layout on the front end of their website without any coding knowledge..</p>
        </div>
        </div>
    </div>
</div>

{% endblock content %}
