{% extends 'base.html' %}
{% load static %}
{% comment %} {% block title %}Home{% endblock title %} {% endcomment %}
{% block content %}
   

<img src="{% static 'images/1.jpg' %}" width="100%" height="700px"  alt="about-image">
<div class="row d-flex justify-content-center  mt-3">
    <div class="col-sm-6 shadow">
     <div class="alert alert-info">
            <h1>Bronx Charter School for Children</h1>
        </div>
        <p><b>School Name</b> : Bronx School Children</p>
        <p><b>Contat Us</b> : 91:8949594384, 91:3432434343</p>
    </div>
</div>

{% endblock content %}