<footer class="bd-footer py-4 py-md-5 mt-5 bg-dark">
    <div class="container py-4 py-md-5 px-4 px-md-3">
      <div class="row">
        <div class="col-6 col-lg-2 offset-lg-1 mb-3">
          <h5 class="text-light">School organizations practispate</h5><br>
          <ul class="list-unstyled">
            <li class="mb-2"><a href="#">Teacher</a></li>
            <li class="mb-2"><a href="#">Employee</a></li>
            <li class="mb-2"><a href="#">Constration</a></li>
            <li class="mb-2"><a href="#">Libray</a></li>
            <li class="mb-2"><a href="#">Books Libray</a></li>
            <li class="mb-2"><a href="#">School Class Room</a></li>
          </ul>
        </div>
        <div class="col-6 col-lg-2 mb-3">
          <h5 class="text-light">School Environment</h5><br><br>
          <ul class="list-unstyled">
            <li class="mb-2"><a href="">gradan</a></li>
            <li class="mb-2"><a href="">Oditoriyal lab</a></li>
            <li class="mb-2"><a href="">Parking Area</a></li>
            <li class="mb-2"><a href="">Cantian</a></li>
            <li class="mb-2"><a href="">Activate Lab</a></li>
          </ul>
        </div>
        <div class="col-6 col-lg-2 mb-3">
          <h5 class="text-light">Guides Person</h5><br><br><br>
          <ul class="list-unstyled">
            <li class="mb-2"><a href="">Getting started</a></li>
            <li class="mb-2"><a href="">Starter template</a></li>
            <li class="mb-2"><a href="">Webpack</a></li>
            <li class="mb-2"><a href="">Parcel</a></li>
            <li class="mb-2"><a href="">Vite</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>